.meetVideoContainer{
    position: relative;
    height: 100vh;
    background: rgb(1, 4, 48);
}
.meetUserVideo{
position: absolute;
bottom: 10vh;
height: 20vh;
width: auto;
left:0;
border-radius: 20px
}
.conferenceView{
    display: flex;
    padding: 10px;
    gap:10px;
}
.conferenceView > video{
    width: 40vw;
    height: 20vh;
    min-width: 30vw;
    border-radius: 10px;
}
.buttonContainers{
    position: absolute;
    text-align: center;
    width: 100vw;
    bottom: 0;
}
.buttonContainers svg{
    font-size: 3rem;
}
.chatRoom{
    position: absolute;
    right:0;
    height: 70vh;
    border-radius: 10px;
    width: 30vw;
    padding-inline: 20px;
    background: white;
}
.chatContainer{
    position: relative;
    height: 100%;
}
.chattingArea{
    position: absolute;
    bottom: 0;
}